{% extends 'base.html' %}
{% load static %}
{% block css %}
    
    <link rel='stylesheet' href="{% static 'css/mason1.css' %}">
{% endblock %}

{% block title %}
    {{ user.username }}'s favourites
{% endblock %}


{% block content %}
    <br/><br/>
    <h3 class='text-muted'>@{{ user.username }}'s favourites</h3><br/>

      {% comment %} <div class="row">
                {% for product in user.product_liked.all %}


                      <div class="col-sm-3">
                      <a href='{{ product.get_absolute_url }}' class='card-link'>
                      <div class="card">
                      {% if product.photo %}
                        <img class="card-img-top" src="{{ product.photo.url }}" alt="{{ product.id }}" style='height:auto'>
                      {% else %}

                        <video width="100%" height="100%" controls>
                            <source src="{{ product.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>

                      {% endif %}  
                        <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">{{ product.description|truncatewords:15 }}<br/>
                          {{ product.stock }}<br/>
                          <small><i>Sold by {{ product.shop.owner.first_name }}</i></small>
                          

                        </div>
                        <div class="card-footer">
                          <small class="text-muted">
                            {% with total_comments=product.comments.count %}
                              {{ total_comments }} comment{{ total_comments|pluralize }}
                            {% endwith %}
                          </small><br/>
                          <small class="text-muted">Uploaded {{ product.created|timesince }} ago</small><br/>
                          <!--<small class="text-muted">Updated {{ product.updated|timesince }} ago</small>-->
                        </div>
                        </a>
                      </div>
                      </div>
              <!--</div>-->

                {% empty %}
                      &nbsp;&nbsp;&nbsp;&nbsp;No products liked yet.
                {% endfor %}
                </div> {% endcomment %}

                <div id="columns">
{% for item in user.product_liked.all %}
     
        {% if item.photo %}
        <a href='{{ item.get_absolute_url }}'>
            <figure data-toggle="tooltip" data-placement="top"  title="{{ item.name }}">
                <img src="{{ item.photo.url }}">
            </figure>
        </a>    
        {% endif %}
        
          
         
    
{% endfor %}   
</div>
{% endblock %}