
<div id="columns">
{% for item in all %}
    
           {% if item.video %}
            <figure>
           
                <video  id= "packt" controls= "controls" poster="{% if item.image %}{{ item.image.url }}{% else %}{{ item.photo.url }}{% endif %}" preload="none"><source src="{{ item.video.url }}"></video>
                <a href='{{ item.get_absolute_url }}' style='color:grey'>
            <i class="fa fa-angle-double-down fa-sm"></i>
            </a>    
            </figure>
             
        {% else %}     
          
        <a href='{{ item.get_absolute_url }}'>
            <figure data-toggle="tooltip" data-placement="top"  title="{{ item.name }}">
                <img src="{{ item.photo.url }}">
            </figure>
        </a>    
        
   
        {% endif %} 
        
          {% if item.business_name %} 
          <a href='{{ item.owner.get_absolute_url }}'>
            <figure>
                <img src="{{ item.logo.url }}">
            </figure>
            </a>
         {% endif %}  
         {% if item.title %} 
          <a href='{{ item.get_absolute_url }}'>
            <figure>
                <img src="{{ item.image.url }}">
            </figure>
            </a>
         {% endif %} 
    
{% endfor %}   
</div>