{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load account_tags %}



<link rel='stylesheet' href={% static 'css/ccc.css' %}>
<link rel='stylesheet' href={% static 'css/base.css' %}>

{% block title %}
    Market
{% endblock %}

{% block style %}href="{% static 'css/scroll1.css' %}"{% endblock %}



{% block content %}
    <br/>
    {% if query %}
        <h1>Products containing "{{ query }}"</h1>

            <h3>
                <!-- to avo id hitting the database more than once (efficiency matters) -->
                {% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}

            </h3>

        <div class='row'>
            {% for product in results %}
            {% with product.shop as shop %}
                {% with total_followers=shop.owner.followers.count %}

            <div class='col-sm-3'>   
            <a href='{{ product.get_absolute_url }}'> 
                    <div class="card">
                        <a href='{{ product.get_absolute_url }}'> 
                            <img class="card-img-top" src='{{ product.photo.url }}' style='height:350px'>
                        </a>
                        <div class="card-body">
                        <h5 class="card-title">
                        <a href='{{ shop.owner.get_absolute_url }}'>
                            <img src='{% if shop.owner.profile.image %}{{ shop.owner.profile.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}' style='width:50px; height:50px; border-radius:50%'>
                            <span class='text-muted'>{{ shop.owner }} ~ {{ shop.business_name }}</span>
                            
                        </h5>
                        <p class="card-text text-muted">
                            address: {{ shop.business_address }}<br/> 
                            uploads {{ shop.products.count }}
                        </p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ product.created|timesince }} ago</small></p>
                        </div>
                    </div><br/>
            </a>        
            </div>    

        {% endwith %}
        {% endwith %}
            {% empty %}

                    <p>Their are no results for your query.</p>

            {% endfor %}
        </div>    
    {% else %}
        <form action='.' method='get'>
                {% for field in form.visible_fields %}
                <strong>
                    <label id='field.id_for_label'>{{ field.label }}:</label>
                    {{ field|add_class:'form-control' }}
                </strong>
                {% endfor %}
                <input type='submit' value='Search'>
            </form>
    <br/>
    <a href="{% url 'account:filter' 'farmcenter' %}">
        <header class="image" style='background-image: url({% static 'css/3D-Background-64.jpg' %}); height: 150px;'>
            <h1 class="display-10">Farm Center</h1>
            <p class="lead">Kano Largest phone Market</p>
        </header>
    </a>
    {% endif %}    <br/>
<h3 class='text-muted'>New shops </h3>
<div class='one' style='padding:10px'>
   
    {% new_shops  %}
    
</div><br/>
<h3 class='text-muted'>New users </h3>

    {% new_users  %}         
{% endblock %}


{% block domready %}
    
{% endblock %}
