{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load account_tags %}




<link rel='stylesheet' href={% static 'css/ccc.css' %}>
<link rel='stylesheet' href={% static 'css/base.css' %}>

{% block title %}
    Market
{% endblock %}

{% block style %}href="{% static 'css/scroll1.css' %}"{% endblock %}
{% block css %}
    {% comment %} <link rel='stylesheet' href="{% static 'css/all.min.css' %}"> {% endcomment %}
    <link rel='stylesheet' href="{% static 'css/mason1.css' %}">
    <link rel='stylesheet' href="{% static 'css/dropp.css' %}">
    
    {% comment %} <link rel='stylesheet' href="{% static 'css/see.css' %}">  {% endcomment %}
{% endblock %}





{% block content %}
    <div style='position:fixed;right:25px;bottom:70px;z-index:10'>    
        <a href="https://wa.me/2347039071981?text=Hello customer support, Am having some issues.">
            <button class='btn btn-success' style='border-radius:50%'>
                <i class='fa fa-envelope-square'></i>
            </button>
        </a>
    </div>
    {% if not request.user.is_authenticated %}
    <div style='position:fixed;bottom:70px;left:20%;right:20%;z-index:10;background-color:lavender; padding:10px; border-radius:10%' class='float-center'>  
          Get in there !
        <br/>
        <span class='mx-auto d-block'>
        <a href='{% url "account:login" %}'>
            <button type="button" class="btn btn-secondary btn-sm ">
                login
            </button>
        </a>
        <a href='{% url "account:register" %}'>
            <button type="button" class="btn btn-secondary btn-sm ">
                create account
            </button>
        </a>
        </span>
    </div>
    {% endif %}
    <!--product search field--><br/>
    <div class='one' style='padding:10px'>
   
        {% if request.user.is_authenticated %}{% new_shops request.user %}{% endif %}
    
    </div>

    {% if request.user.id == 1 %}
        <div class='one' style='padding:10px'>
    
            {% new_users_faisal  %}
        
        </div>
    {% endif %}    
    {% if query %}<br/><br/>
          {% comment %} <h1>Products containing "{{ query }}"</h1>

            <h3>
                <!-- to avo id hitting the database more than once (efficiency matters) -->
                {% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}

            </h3>

        <div class='row'> {% endcomment %}
            {% comment %} {% for product in results %}
            {% with product.shop as shop %}
                {% with total_followers=shop.owner.followers.count %}

            <div class='col-sm-3'>   
            <a href='{{ product.get_absolute_url }}'> 
                    <div class="card">
                        <a href='{{ product.get_absolute_url }}'> 
                        {% if not product.video %}
                            <img class="card-img-top" src='{{ product.photo.url }}' style='height:auto'>
                        {% else %}
                            {% if product.video %}
                                <video width="100%" height="100%" controls {% if product.photo %}poster="{{ product.photo.url }}"{% endif %}>
                                    <source src="{{ product.video.url }}" type="video/mp4">
                                    Update your browser.
                                </video>
                            {% endif %}    
                        {% endif %}    

                        </a>
                        <div class="card-body">
                        <h5 class="card-title">
                        <a href='{{ shop.owner.get_absolute_url }}'>
                            <img src='{% if shop.owner.profile.image %}{{ shop.owner.profile.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}' style='width:50px; height:50px; border-radius:50%'>
                            <span class='text-muted'>{{ shop.owner }} ~ {{ shop.business_name }}</span>
                            
                        </h5>
                        <p class="card-text text-muted">
                            address: {{ shop.business_address }}<br/> 
                            uploads {{ shop.products.count }}
                        </p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ product.created|timesince }} ago</small></p>
                        </div>
                    </div><br/>
            </a>        
            </div>     

         {% endwith %}
        {% endwith %}
            {% empty %}

                    <p>Their are no results for your query.</p>

            {% endfor %} {% endcomment %}
        {% comment %} </div>        {% endcomment %}
        <div id="columns">
        {% for product in results %}
            <a href='{{ product.get_absolute_url }}'>
            <figure data-toggle="tooltip" data-placement="top"  title="{{ product.name }}">
                <img src="{{ product.photo.url }}">
            </figure>
        </a>
        {% endfor %}
        </div>

    {% else %}
        <form action='.' method='get'>
                {% for field in form.visible_fields %}
                <strong>
                    <label id='field.id_for_label'>{{ field.label }}:</label>
                    {{ field|add_class:'form-control' }}
                </strong>
                {% endfor %}
                
            </form>
    
    {% comment %} <a href="{% url 'account:filter' 'farmcenter' %}">
        <header class="image" style='background-image: url({% static 'css/3D-Background-64.jpg' %}); height: 150px;'>
            <h1 class="display-10">Farm Center</h1>
            <p class="lead">Kano Largest phone Market</p>
        </header>
    </a> {% endcomment %}
    {% endif %}    

    <!--end-->

    <!--search friends-->
        {% if search %}
    {% for user in results %}
        
                {% comment %} <div class='container' style='padding-left:22px'>
                        <div class="row">
                            <div class="col-xs-2">
                                <a href='{{ user.get_absolute_url }}' style='text-decoration:none'><img src="{%  if user.profile.image %}{{ user.profile.image.url }}
                        {% else %}{% static 'img/no_image.png'%}{% endif %}" style="border-radius:50%;width:50px; height:50px" class="img-circle"></a>
                            </div>
                            <div class="col-xs-8">&nbsp;&nbsp;&nbsp;&nbsp;
                                    
                                        <a href='{{ user.get_absolute_url }}'><strong style='vertical-align:baseline'>@{{ user.username }}</strong><br/>
                                    
                                    <small class='text-muted' style='vertical-align:text-bottom; padding-left:22px'>{{ user.get_full_name }}</small></a>

                        <a href='#' data-id="{{ user.id }}" 
                            data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                            class='follow' id='followbutton_{{ user.id }}'>
                            {% if not request.user in user.followers.all  %}
                                <button class="btn btn-outline-primary btn-sm float-right">follow</button>
                            {% else %}
                                <button class="btn btn-outline-primary btn-sm float-right">unfollow</button>
                            {% endif %}  
                        </a>                    
                        
                </div> {% endcomment %}
                <a href='{{ user.get_absolute_url }}' style='text-decoration:none'>
                <div class='container-fluid' style='padding-left:22px'>
                        <div class="row">
                            <div class="col-xs-2">
                                <img src="{%  if user.profile.image %}{{ user.profile.image.url }}
                        {% else %}{% static 'img/no_image.png'%}{% endif %}" style="border-radius:50%;width:50px; height:50px" class="img-circle">
                            </div>
                            <div class="col-xs-8">
                                         <a href='{{ user.get_absolute_url }}'><strong style='vertical-align:baseline'>@{{ user.username }}</strong><br/>
                                    
                                    <small class='text-muted' style='vertical-align:text-bottom; padding-left:22px'>{{ user.get_full_name }}</small></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    <small class='text-muted float-right'>
                                        <a href='#' data-id="{{ user.id }}" 
                            data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                            class='follow' id='followbutton_{{ user.id }}'>
                            {% if not request.user in user.followers.all  %}
                                <button class="btn btn-outline-primary btn-sm float-right">follow</button>
                            {% else %}
                                <button class="btn btn-outline-primary btn-sm float-right">unfollow</button>
                            {% endif %}  
                        </a>
                                    </small>
                                    
                            </div>
                        </div><hr width='70%' float='center' />
                </div>     </a>
    {% endfor %}
{% else %}
       
{% endif %}
    <!--end-->
<div class='one' style='padding: 7px'>
    <a href='{% url "account:market" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>wall</span></a>
    {% comment %} <a href='{% url "account:market_category" "clothing" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>clothing</span></a>
    <a href='{% url "account:market_category" "food" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>food</span></a>
    <a href='{% url "account:market_category" "electronics" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>electronics</span></a> {% endcomment %}
</div> 

         {% if tag %}
            <h2>Ideas tagged with "{{ tag.name }}"</h2>
        {% endif %}
    <div id="place">
        {% include 'vinestream/market_ajax.html' %}
    </div><br/>
{% endblock %}  


{% block domready %}
    var page = 1;
    var block_request = false;
    var empty_page = false;

    $(window).scroll(function() {

        var margin = $(document).height() - $(window).height() - 400;

         if ($(window).scrollTop() > margin && block_request == false && empty_page == false) {
             block_request = true;
             page += 1;

             $.get('?page=' + page, function(data) {
                 if (data == '') {
                     empty_page = true;
                 }
                 else {
                     block_request = false;
                     $('#place').append(data);
                 }
             })
         }
    });

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
{% endblock %}
