{% load static %}
{% for shop in shops %}
        <a href='{{ shop.owner.get_absolute_url }}' style='text-decoration:none'>
                <div class='container-fluid' style='padding-left:22px'>
                        <div class="row">
                            <div class="col-xs-2">
                                <img src="{% if shop.logo %}{{ shop.logo.url }}
                        {% else %}{% static 'img/no_image.png'%}{% endif %}" style="border-radius:50%;width:50px; height:50px" class="img-circle">
                            </div>
                            <div class="col-xs-8">
                                        <strong>{{ shop.business_name }}</strong>
                                        <a href=''><i class='fa fa-check-circle'></i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    <small class='text-muted float-right'>
                                        <a href='#' data-id="{{ shop.owner.id }}" 
                                        data-action="{% if request.user in shop.owner.followers.all %}un{% endif %}follow"
                                        class='follow' id='{{ shop.owner.id }}'>
                                        {% if not request.user in shop.owner.followers.all  %}
                                            <button class="btn btn-outline-primary btn-sm float-right">follow</button>
                                        {% else %}
                                            <button class="btn btn-outline-primary btn-sm float-right">unfollow</button>
                                        {% endif %}  
                                          
                                    </a>
                                    </small>
                                    
                            </div>
                        </div><hr width='70%' float='center' />
                </div>     </a><br/>      
    {% endfor %}
    <a href='{% url "account:stream" %}'><button class='btn btn-primary'>done</button></a>
    <br/><br/><br/>