{% load humanize %}
{% load widget_tweaks %}
{% block css %}
{% load static %}
    
    <link rel='stylesheet' href="{% static 'css/mason1.css' %}">
{% endblock %}
<div id="columns">
{% for item in products %}
    
          
        {% if item.photo %}
        <a href='{{ item.get_absolute_url }}'>
            <figure data-toggle="tooltip" data-placement="top"  title="{{ item.name }}">
                <img src="{{ item.photo.url }}">
            </figure>
        </a>    
        {% endif %}
        
          
         
    
{% endfor %}   
</div>
{% comment %} {% for product in products %}


                      <div class="col-sm-3">
                      <div class="card"> {% endcomment %}
                      {% comment %} {% if not product.video %}
                        <a href='{{ product.get_absolute_url }}'><img class="card-img-top" src="{{ product.photo.url }}" alt="{{ product.id }}" style='height:auto'></a>
                      {% else %}

                        <a href='{{ product.get_absolute_url }}'><video width="100%" height="100%" controls {% if product.photo %}poster="{{ product.photo.url }}"{% endif %}>
                            <source src="{{ product.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video></a>

                      {% endif %} {% endcomment %}
                      {% comment %} <a href='{{ product.get_absolute_url }}'>
                      <div id="carousel_{{ product.id }}" class="carousel slide" data-interval="false">
  <!--Indicators-->
  <ol class="carousel-indicators">
    {% if product.video %}<li data-target="#carousel_{{ product.id }}" data-slide-to="0" {% if product.video %}class='active'{% endif %}></li>{% endif %}
    <li data-target="#carousel_{{ product.id }}" data-slide-to="1" {% if not product.video %}class='active'{% endif %}></li>
    {% if product.photo1 %}<li data-target="#carousel_{{ product.id }}" data-slide-to="2"></li>{% endif %}
    {% if product.photo2 %}<li data-target="#carousel_{{ product.id }}" data-slide-to="3"></li>{% endif %}
    {% if product.photo3 %}<li data-target="#carousel_{{ product.id }}" data-slide-to="4"></li>{% endif %} {% endcomment %}
    
  {% comment %} </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide--> {% endcomment %}
     {% comment %} {% if product.video  %}
        <div class="carousel-item active">
            
                <video width="100%" height="100%"  controls {% if product.photo %}poster="{{ product.photo.url }}"{% endif %}>
                        <source src="{{ product.video.url }}" type="video/mp4">
                        Update your browser.
                    </video>
            
        </div>
    {% endif %} {% endcomment %}
    <!--/First slide-->
    <!--Second slide-->
    {% comment %} {% if product.photo %}
    <div class="carousel-item {% if not product.video %}active{% endif %}">
        
            <img class="card-img-top" src="{{ product.photo.url }}" style='height:auto; width:100%;' alt="First slide">
           
    </div>
    {% endif %}
    <!--/Second slide-->
    <!--Third slide-->
    {% if product.photo1 %}
    <div class="carousel-item ">
        
            <img class="card-img-top" src="{{ product.photo1.url }}" style='height:auto; width:100%;' alt="First slide">
           
    </div>
    {% endif %}
    <!--/Third slide-->
    {% if product.photo2 %} {% endcomment %}
    {% comment %} <div class="carousel-item ">
        
            <img class="card-img-top" src="{{ product.photo2.url }}" style='height:auto; width:100%;' alt="First slide">
           
    </div>
    {% endif %}
    {% if product.photo3 %}
    <div class="carousel-item ">
        
            <img class="card-img-top" src="{{ product.photo3.url }}" style='height:auto; width:100%;' alt="First slide">
           
    </div>
    {% endif %}
  </div>
  <!--/.Slides-->
  <!--Controls-->
 {% if product.video or product.photo1 %}
  <a class="carousel-control-next" href="#carousel_{{ product.id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  {% endif %}
  <!--/.Controls-->
</div></a> {% endcomment %}
<!--/.Carousel Wrapper-->

                         {% comment %} <div class="card-body"> {% endcomment %}
                        {% comment %} <button type="button" class="btn btn-outline-primary btn-sm" style='width:40%' data-toggle="modal" data-target="#exampleModalLong_{{ product.id }}">buy</button> {% endcomment %}
                        {% comment %} <button type="button" class="btn btn-outline-primary btn-sm float-right mx-2" style='width:40%' ><a href="https://wa.me/234{{ product.shop.owner.profile.phone }}?text=I'm interested in your {{ product.name }} for sell.">chat</a></button><br/> {% endcomment %}
                          {% comment %} <a href='#' data-id='{{ product.id }}'
                         data-action='{% if request.user in product.users_like.all %}un{% endif %}like' class='like'
                           id='{{ product.id }}'>
                        {% if request.user not in product.users_like.all %}
                            <i class="fa fa-heart-o "></i>
                            <!--Like-->
                        {% else %}
                            <i class="fa fa-heart "></i>
                            <!--Like-->
                        {% endif %}
                </a>&nbsp;&nbsp; 
                 <a><i class="fa fa-credit-card-alt" data-toggle="modal" data-target="#exampleModalLong_{{ product.id }}"></i></a> 
                <!--modal begins-->
                  <div class="modal fade" id="exampleModalLong_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLong_{{ product.id }}Title"><a href='{{ product.get_absolute_url }}' style='text-decoration:none'>{{ product.name }}</a>&nbsp;&nbsp;<b>free delivery within kano</b><br/><small>7 days return policy</small><br/><small>delivery time: 1 day</small></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 style='align-center'>NGN <small>₦{{ product.price|intcomma }}</small></h4><br/>
                            
                              {% if form_1.errors %}
                                  {% for error in form_1.errors %}
                                      {{ error }}
                                  {% endfor %}
                              {% else %}     
                                
                                  <form method='get' action='{% url 'order:buy' product.id %}'>
                                      {% for field in form_1.visible_fields %}
                                          <label id="field.id_for_label">{{ field.label }}</label>
                                          {{ field|add_class:'form-control' }}
                                          {% endfor %}
                                      {% csrf_token %}<br/>
                                      <button type='submit' class='btn btn-secondary mx-auto d-block'>buy</button>
                                  </form>
                              {% endif %}  
                             
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <!--modal end-->
                 {% comment %} &nbsp;
                <span><a href="{{ product.get_absolute_url }}"  style="text-decoration: none;">
                    <span class="text-muted"><i class="fa fa-eye"></i>
                            {{ product.total_views }}
                        </span>
                </a></span>
                <span class="float-right mx-2"><a onclick=''><span class='fa fa-share-alt pull-right icons' data-toggle="modal" data-target='#exampleModalCenter_{{ product.id }}'></a></span>
                <div class="modal fade" id="exampleModalCenter_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share to friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.stardaf.com/{{ product.get_absolute_url }}&t={{ product.name }}"
   target="_blank" title="Share on Facebook"><i class='fa fa-facebook fa-2x'></i>
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://wa.me/?text=Checkout {{ product.name }} @ www.stardaf.com{{ product.get_absolute_url }}"><i class='fa fa-whatsapp fa-2x'></i></a> {% endcomment %}
{% comment %} <a href="https://twitter.com/share?url=https://www.stardaf.com/bizz/3/apple/Faisal/&via=TWITTER_HANDLE&text=Checkout my product"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter"><i class='fa fa-twitter'></i>
</a> {% endcomment %}
       {% comment %} </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
                <span class="float-right mx-2"><a href='{% if not request.user.is_authenticated %}{% url 'account:register' %}{% else %}{% url 'bizz:recommend' request.user.id product.id %}{% endif %}'><i class="fa fa-hand-spock-o pull-right icons"></i></a></span>
                 <span class="float-right mx-2"><a href="https://wa.me/234{{ product.shop.owner.profile.phone }}?text=" style='color:green'><span class='fa fa-whatsapp pull-right icons'></a></span>  {% endcomment %}
                {% comment %} <span class="float-right mx-2"><a href='{% url 'cart:home' product.pk %}'><i class="fa fa-plus-circle pull-right icons"></i></a></span> {% endcomment %}
                          {% comment %} <h5 class="card-title"><a href='{{ product.get_absolute_url }}'>{{ product.name }}</a></h5>
                          <p class="card-text">{{ product.description|truncatewords:15 }}<br/> 
                          stock: {{ product.stock }}<br/>
                            {% if request.user.id == user.shop.owner.id %}
                              <form action="{% url 'bizz:stock' product.id %}" method='post'>
                                        {{ form.as_p }}
                                            {% csrf_token %}
                                            <!--<input type="submit" value="Update" class="btn btn-secondary btn-sm">-->
                                            <button type='submit' class="btn btn-secondary btn-sm mx-3">update</button>
                                </form>
                              <a href="{% url 'bizz:delete' product.id %}">Delete</a></p>
                            {% endif %}

                        </div>
                        <div class="card-footer">
                          <small class="text-muted">
                            {% with total_comments=product.comments.count %}
                              {{ total_comments }} comment{{ total_comments|pluralize }}
                            {% endwith %}
                          </small><br/>
                          <small class="text-muted">Uploaded {{ product.created|timesince }} ago</small><br/>
                          <!--<small class="text-muted">Updated {{ product.updated|timesince }} ago</small>-->
                        </div>
                      </div>
                      </div>
              <!--</div>-->

                {% empty %}
                {% if request.user.shop %}
                  
                {% else %}
                 
                {% endif %}    
                {% endfor %}  {% endcomment %}