{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}@{{ user.get_full_name }}{% endblock %}

{% block content %}
<div style='position:fixed;right:25px;bottom:70px;z-index:10'>    
        <a href="https://wa.me/2347039071981?text=Hello customer support, Am having some issues.">
            <button class='btn btn-success' style='border-radius:50%'>
                <i class='fa fa-envelope-square'></i>
            </button>
        </a>
    </div>
    {% if not request.user.is_authenticated %}
    <div style='position:fixed;bottom:70px;left:20%;right:20%;z-index:10;background-color:lavender; padding:10px; border-radius:10%' class='float-center'>  
          Get in there !
        <br/>
        <span class='mx-auto d-block'>
        <a href='{% url "account:login" %}'>
            <button type="button" class="btn btn-secondary btn-sm ">
                login
            </button>
        </a>
        <a href='{% url "account:register" %}'>
            <button type="button" class="btn btn-secondary btn-sm ">
                create account
            </button>
        </a>
        </span>
    </div>
    {% endif %}
        
    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" type="text/css" href="signpage.css">-->

<body>

<hr>

<div class="container">
    
      <br>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <a href="{% url 'account:edit' %}"><img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'img/no_image.png'%}
        {% endif %}" class="avatar img-circle img-thumbnail" alt="avatar" style='width:100%; height:auto; border-radius:5px'></a>

      </div>


          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            {% if user.shop %}<li class="list-group-item text-right"><span class="pull-left"><strong>Uploaded </strong></span> {{ user.shop.products.count }}</li>{% endif %}
             <a href="{% url 'account:favourites' user.id %}" ><li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> {{ user.product_liked.count }}</li></a>
            <a href='{% url "account:following" user.username %}'><li class="list-group-item text-right"><span class="pull-left"><strong>Following</strong></span> {{ user.following.count }}</li></a>
            <a href='{% url "account:followers" user.username %}'><li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> {{ user.followers.count }}</li></a>
            {% if user.shop %}<li class="list-group-item text-right"><span class="pull-left"><strong>{{ user.shop.description|linebreaks }}</strong></li>{% endif %}

          </ul>

        </div><!--/col-3-->

    	<div class="col-sm-9 mx-auto d-block">
        <h1>{% if user.shop %}<span style='color:purple'>{{ user.shop.business_name }}</span>{% endif %}  {{ user.get_full_name }}</h1>
        <h2>@{{ user.username }}  </h2>
        {% if user != request.user %}
          <a href='#' data-id="{{ user.id }}" 
data-action="{% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}"
class='follow float-left' id='{{ user.id }}'>
{% if not request.user in user.followers.all  %}
    <button class="btn btn-outline-primary btn-sm float-right">follow</button>
{% else %}
    <button class="btn btn-outline-primary btn-sm float-right">unfollow</button>
{% endif %}    
</a>
        {% endif %}

          {% if request.user.id == user.shop.owner.id %}
            {% if user.shop %}
            <button class="btn btn-outline-danger float-right"><a href="{% url 'bizz:edit' %}">Edit company info</a></button><br/>
              <button class="btn btn-lg  btn-block"><a href="{% url 'bizz:add_product' user.shop.id %}">Add Product</a></button>
              
            {% endif %}
          
          
          {% endif %}
          
          {% if user.shop %}
          
            {% comment %} <button class="btn btn-lg btn-dark btn-block"><a href="{% url 'bizz:create' user.id %}">Create company</a></button> {% endcomment %}
           
          <br/>
          <p class='text-muted float-left'>
            <i class='fa fa-map-marker'></i> {{ user.shop.business_address }} {{ user.shop.shop_address|linebreaks }}
          </p>
          {% endif %}
          {% if request.user == user %}<a href="{% url 'account:logout_then_login' %}" class='float-right'><button class='btn btn-outline-primary btn-sm'>Sign-out</button></a>{% endif %}
          


          <br>
          <br>
          <!--<div class="card-group">-->

          <!--<div class="card-deck">-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if user.shop %}
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span class='fa fa-hashtag'></span></a>
          </li>
        {% endif %}  
        {% if request.user == user %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'account:edit' %}" ><span class='fa fa-cog'></span></a>
          </li>{% endif %}
          <li class="nav-item">
            <a class="nav-link" id="like-tab" href="{% url 'account:favourites' user.id %}" ><span class='fa fa-heart'></span></a>
          </li>
          
          {% if user.profile.phone %}
            <li class="nav-item">
              <a class='nav-link' href="https://wa.me/234{{ user.profile.phone }}?text=Hey {{ user.username }}, Nice meeting you on stardaf :-)" style='color:green'><span class='fa fa-whatsapp'></a>
            </li>  
          {% endif %}
          
          
          <li class="nav-item">
            <a class="nav-link" id="like-tab"><span class='fa fa-share-alt' data-toggle="modal" data-target='#exampleModalCenter_{{ user.id }}'></span></a>
          </li>
          <div class="modal fade" id="exampleModalCenter_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share to friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_gmail"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_sms"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% if user.shop %}
                    <div class="row" id='profile_stream'>
                    {% include 'vinestream/profile_ajax.html' %}
                </div>
            {% endif %}    
            </div>

            
          </div>

        </ul>

          <!--</div>-->
        <br/><br/><br/>
{% endblock %}

{% block domready %}


    var page = 1;
    var block_request = false;
    var empty_page = false;

    $(window).scroll(function() {

        var margin = $(document).height() - $(window).height() - 500;

         if ($(window).scrollTop() > margin && block_request == false && empty_page == false) {
             block_request = true;
             page += 1;

             $.get('?page=' + page, function(data) {
                 if (data == '') {
                     empty_page = true;
                 }
                 else {
                     block_request = false;
                     $('#profile_stream').append(data);
                 }
             })
         }
    });


  
{% endblock %}
