{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/signpage.css' %}">
<link rel="stylesheet" href="{% static 'css/starter-template.css' %}">

{% block title %}
    Welcome, Create your account!
{% endblock %}

{% block content %}
    <br/>

    <!--<h3 class="display-3 text-center">Sign-up</h3>-->
    <!--<p>Enter your details below</p>-->
    {% if form.errors %}

        {% for error in form.errors %}
           Error: {{ error }} field<br/>
           {% if error == 'username' %}
            'Username already exist'
           {% endif %}
           {% if error == 'password2' %}
            'Passwords '
           {% endif %}

            <main class="container-fluid">

    <div class="offset-lg-3 col-lg-6 col-md-12">
        <div>
            <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72" class="mx-auto d-block">
            <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-50 display-2"> Registration error</h1>
            {% if error == 'username' %}
                <p class="h3 mb-3 font-weight-bold text-black-100 shadow-50">Username already exist</p> 
            {% endif %}    
            
            {% if error == 'password2' %}
                <p class="h3 mb-3 font-weight-bold text-black-100 shadow-50" style='color:red'>The two passwords are not the same</p>
            {% endif %}

        </div>
    </div>
    </main>

        {% endfor %}

    {% else %}


 <main class="container-fluid">
    <div class="offset-lg-3 col-lg-6 col-md-12">
    <div>
    <form class="form-group" method='post' action='.'>
            <div class="text-center mb-4">
        <h2 class="text-center font-weight-bold">Create an account</h2>
        <img class="mb-1 img-rounded" src="{% static 'img/favicon.png' %}" alt="" width="72" height="72">
    </div>
            {% for field in form.visible_fields %}

            <label for="field.id_for_label">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}

            {% endfor %}

        {% csrf_token %}
        <br/>
        <input type="checkbox" name="terms" value="Teams and conditions" required> I agree with the <a href='{% url "account:term" %}'>Teams and conditions</a>
        <div class="text-center"><br/>
        <button class="btn btn-primary btn-lg">Create account</button>
        </div>
        
</form>
<hr>
    <p>Already have an account? <a href="{% url 'account:login' %}">Log in</a></p>
<footer class="mt-5 mb-10 text-muted text-center"><a href="{% url 'account:contact' %}">Contact us </a><br/>&copy; 2019 stardaf.com | All rights reserved</footer>
</div>
</div>
</main>
{% endif %}

<footer class="mt-5 mb-10 text-muted text-center">&copy; 2019 stardaf.com | All rights reserved</footer>
{% endblock %}

