{% extends 'base.html' %}
{% load static %}
{% load account_tags %}


{% block title %}
   stardaf Homepage
{% endblock %}

{% block style %}href="{% static 'css/scroll1.css' %}"{% endblock %}
<head>


<style>
    body {
        padding: 0px,
        margin: 0px,
        background-color: dimgray;
    }
</style>
</head>

{% block content %}

<main role="main" style='padding: 0px; margin:0px'>
     <!--<div class="row">--> 
                    

{% if not request.user.is_authenticated %}
    <div style='padding: 15px'>
        <h4 class='text-muted'>
            <small>login/create an account to stay in touch with your favourite sellers,
            customize your feed and see what your friends are up to.</small>
        </h4>
        <a href='{% url "account:register" %}'><button class='btn btn-primary btn-block'>Create an account</button></a><br/>
    <a href='{% url "account:login" %}'> <button class='btn btn-danger btn-block'>Login</button></a>
    </div>
{% endif %}
<hr/>
<div class='one' style='padding:10px'>
   
    {% horizontal_scroll 9 %}
    
</div>
<hr/>
<div class='one' style='padding: 7px'>
    <a href='{% url "account:stream" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>trending</span></a>
    <a href='{% url "account:farmcenter" "private" %}'><span class="badge badge-pill badge-light" style='padding:10px;box-shadow: 2px 2px 5px grey;'>private</span></a>
</div>    

                    <div id="streams">
                        {% include 'vinestream/stream_ajax.html' %}
                    </div>


     <!--</div>--> 
    </main>
{% endblock %}


{% block domready %}


    var page = 1;
    var block_request = false;
    var empty_page = false;

    $(window).scroll(function() {

        var margin = $(document).height() - $(window).height() - 2000;

         if ($(window).scrollTop() > margin && block_request == false && empty_page == false) {
             block_request = true;
             page += 1;

             $.get('?page=' + page, function(data) {
                 if (data == '') {
                     empty_page = true;
                 }
                 else {
                     block_request = false;
                     $('#streams').append(data);
                 }
             })
         }
    });


  
{% endblock %}