{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sign-out
{% endblock %}

{% block content %}
    <br/>
    <div class="offset-lg-3 col-lg-6 col-md-12">
        <div >
            <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72" class="mx-auto d-block">
            <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-50 display-2"> Signed-out </h1>
        <p class="h3 mb-3 font-weight-bold text-black-100 shadow-50">
            You have successfully signed-out, you can also<a href="{% url 'account:login' %}" class="badge badge-info">login</a>again. </p>

        </div>
    </div>
    </main>
{% endblock %}