{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Set your new password
{% endblock %}

{% block content %}
    <br/>
    {% if validlink %}
        <!--<h3 class="display-3">Reset your new password</h3>-->
        <!--<p class="text-muted">Enter your new password details below.</p>-->
        <!--<form action="." method="post">-->
            <!--{% for field in form.visible_fields %}-->
                <!--<div class="form-group">-->
                    <!--<label id="field.id_for_label">{{ field.label }}</label>-->
                    <!--{{ field|add_class:'form-control' }}-->
                    <!--{% csrf_token %}-->

                <!--</div>-->
            <!--{% endfor %}-->
            <!--<input type="submit" value="Reset my password" class="btn btn-outline-primary">-->
        <!--</form>-->

        <main class="container-fluid">
    <div class="offset-lg-3 col-lg-6 col-md-12">
      <div>
    <form action="." method="post">
      <div class="text-center mb-4">
      <img src="{% static 'css/UUUU.jpg' %}" alt="" width="72" height="72" class="mx-auto d-block">
      <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-50">Reset password</h1>
    </div>
      <p>Enter your  new password</p>
        <br>
        {% for field in form.visible_fields %}

        <label for="field.id_for_label">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}

        {% endfor %}
      <!--<label for="inputPassword" class="sr-only">New Password</label>-->
      <!--<input type="password" id="inputPassword" class="form-control" placeholder=" New Password" required>-->
      <!--<br>-->
      <!--<label for="inputPassword" class="sr-only"> Confirm Password</label>-->
      <!--<input type="password" id="inputPassword" class="form-control" placeholder=" Confirm Password" required>-->
      <br>
        {% csrf_token %}
      <div class="text-center">
      <button class="btn btn-primary btn-lg" type="submit">Send</button>
    </div>
      <hr>
      <footer class="mt-5 mb-10 text-muted text-center">&copy; 2018 Casbah.com | All rights reserved</footer>
    </form>
  </div>
</div>
</main>
    {% else %}
   <main class="container-fluid">

    <div class="offset-lg-3 col-lg-6 col-md-12">
        <div >
            <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72" class="mx-auto d-block">
            <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-50 display-2"> Password Reset </h1>
        <p class="h3 mb-3 font-weight-bold text-black-100 shadow-50">The token has expired get another password reset
            token <a href="{% url 'account:password_reset' %}" class="badge badge-dark">here</a> </p>

        </div>
    </div>
    </main>
    {% endif %}
{% endblock %}