{% extends 'base.html' %}
{% load static  %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <br/>
    <main class="container-fluid">

    <div class="offset-lg-3 col-lg-6 col-md-12">
        <div>
            <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72" class="mx-auto d-block">
            <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-50 display-2"> Password Reset </h1>
        <p class="h3 mb-3 font-weight-bold text-black-100 shadow-50">We have sent you an email to reset
            your password. login <a href="{% url 'account:login' %}" class="badge badge-info">here</a> </p>

        </div>
    </div>
    </main>
{% endblock %}