{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Add Product
{% endblock %}


{% block content %}
    <br/>


    {% if form.errors %}

        {% for error in form.errors %}
           Error: {{ error }} field
        {% endfor %}

    {% else %}
    <main role="main" class="container-fluid">
<div class="offset-lg-3 col-lg-6 col-md-12">
  <div >

    <form action="." method="post" enctype="multipart/form-data">
      <div class="mb-4 text-center">
      <img src="{% static 'css/UUUU.jpg' %}" alt="" width="72" height="72"><br/>
      <!--<h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-lg">Add product</h1>--><br/>
      <h3 class="h3 mb-3 font-weight-bold text-black-100 shadow-lg">Hey, {{ shop.owner.get_full_name }}</h3>
    </div>
      {% for field in form.visible_fields %}
        <label id="field.id_for_label">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% endfor %}


      <div class="text-center">
          {% csrf_token %}
      <button class="btn btn-dark btn-lg" type="submit">Add product</button>
      <hr>


      </div>
        </form>
</div>
</div>
</main>
    {% endif %}<br/><br/>

{% endblock %}