{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Your business online!{% endblock %}

{% block content %}
    <br/>

    {% if form.errors %}

        {% for error in form.errors %}
            {{ error }}
        {% endfor %}

    {% else %}
        <br/>
          <main role="main" class="container-fluid">
<div class="offset-lg-3 col-lg-6 col-md-12">
  <div>
    <form action="." method="post" enctype="multipart/form-data">
      <div class="mb-4 text-center">
      <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-lg">Hello {{ user.get_full_name }}</h1>
          <h3 class="h3 mb-3 font-weight-bold text-black-100 shadow-lg">Create your company using the details below</h3>
    </div>
      {% for field in form.visible_fields %}
        <label id="field.id_for_label">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% endfor %}


      <div class="text-center">
          {% csrf_token %}
      <button class="btn btn-info btn-lg" type="submit">Create shop</button>
      <hr>
      <div class="container">
       <footer class="mt-5 mb-10 text-muted text-center">&copy; 2018 Casbah.com | All rights reserved</footer>
           </div>

      </div>
        </form>
</div>
</div>
</main>

    {% endif %}
{% endblock %}