{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block title %}
    Edit your shop
{% endblock %}

{% block content %}
    <br/>
    <!--<h3 class='display-3'>Edit your shop</h3>-->

    {% if form.errors %}

        {% for error in form.errors %}
            {{ error }}
        {% endfor %}

    {% else %}

                <main role="main" class="container-fluid">
            <div class="offset-lg-3 col-lg-6 col-md-12">
              <div>
                <form action="." method="post" enctype="multipart/form-data">
                  <div class="mb-4 text-center">
                  <img src="{% static 'img/favicon.png' %}" alt="" width="72" height="72">
                  <h1 class="h3 mb-3 font-weight-bold text-black-100 shadow-lg">Edit company</h1>
                </div>
                  {% for field in form.visible_fields %}
                    <label id="field.id_for_label">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% endfor %}
                  <div class="text-center">
                      {% csrf_token %}<br/>
                  <button class="btn btn-info btn-lg" type="submit">Update</button>
                  </div>
                    </form><br/><br/>
            </div>
            </div>
            </main><br/><br/><br/>
    {% endif %}
{% endblock %}